table, tr, td, th{
    border: 1px solid #000 ;
    border-collapse: collapse;
    
}

table tbody tr:nth-child(even){
    background-color: rgb(165, 10, 196);
}
table tbody tr:nth-child(odd){
    background-color: rgb(185, 9, 9);
}

table tbody tr:hover{
    background-color: rgb(226, 177, 17);
}

table thead tr{
    background-color: rgb(12, 152, 170);
    font-weight: bold;
}

.selected{
    transform: scale(1.2);
}